# Artillery Hornet Klipper Config by EmmeFreeze
# Based on kiPHAW's config (https://www.youtube.com/watch?v=kokwZI83wzI)
# Thanks to: gpo 123 (display pinout)

####### FIRMWARE COMPILE OPTIONS ########

# Enable extra low-level configuration options: TRUE
# Micro-controller Architecture: STMicroelectronics STM32
# Processor model: STM32F401
# Bootloader offset: No bootloader
# Clock reference: 8 MHz crystal
# Communication interface: USB (on PA11/PA12)
# USB ids: DEFAULT
# GPIO pins to set at micro-controller startup: FALSE

# Stepper settings (X, Y, Z)
[include extras/stepper.cfg]

# Extruder settings
[include extras/extruder.cfg]

# Bed settings (bed leveling, bed mesh, pin)
[include extras/bed.cfg]

# Fan settings (object, heater, controller fans)
[include extras/fan.cfg]

# Display settings (pin)
[include extras/display.cfg]

# Input shaping settings (freq, type)
[include extras/input_shaper.cfg]


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f401xc_500045000A50435435373620-if00
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3500
max_z_velocity: 12
max_z_accel: 600
square_corner_velocity: 4 
minimum_cruise_ratio: 0.6

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]

# Enable Execute Object (beta) use https://github.com/troy-jacobson/klipper/tree/exclude-object-pr
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

##### MACROS ######

# Basic macros
[include macros/basic.cfg]

# Load filament
[include macros/load_filament.cfg]

# Unload filament
[include macros/unload_filament.cfg]

# Change filament
[include macros/change_filament.cfg]

# Homing macros
[include macros/home_axis.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.852
#*# pid_ki = 1.129
#*# pid_kd = 105.708
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.438
#*# pid_ki = 1.350
#*# pid_kd = 842.132
